html {
  background-color: #f5d0af;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(bread_background_2.avif);
  background-blend-mode: overlay;
  border-radius: 0.5em;
  padding: 1em;
}
